# gRPC
GRPC_HOST="localhost"
GRPC_PORT=50051

# Postgres
DATABASE_USER="postgres"
DATABASE_PASSWORD="password"
DATABASE_HOST="localhost"
DATABASE_PORT=5433
DATABASE_NAME="vion_auth"
DATABASE_URI="postgresql://postgres:password@localhost:5433/vion_auth?schema=public"

# Redis
REDIS_USER="default"
REDIS_PASSWORD="password"
REDIS_HOST="localhost"
REDIS_PORT=6379
